<div class="container">
    <div class="box">
        <div class="box3">
            <h1>{{campeonato.nome}}</h1>
        </div>
        <div class="box3">
            <div class="box4">
                <button mat-stroked-button color="primary" (click)="openDialogAdicionarEdicao(this.campeonato)">
                    Adicionar Edição
                </button>
                <button mat-stroked-button color="primary">
                    Adicionar Modalidade
                </button>
                <button mat-stroked-button color="primary">
                    Nova Etapa
                </button>
            </div>
        </div>
        <!-- <div class="box3" *ngIf="isLoading">
            <mat-spinner *ngIf="isLoading" [diameter]="50"></mat-spinner>
        </div> -->
        <div class="box3">
            <div class="box4">
                <mat-form-field appearance="outline">                    
                    <mat-label *ngIf="!isLoading">Edição</mat-label>
                    <mat-spinner *ngIf="isLoading" [diameter]="25"></mat-spinner>                                    
                    <mat-select *ngIf="!isLoading">                        
                        <mat-option *ngFor="let edicoes of edicoes" [value]="edicoes">{{edicoes.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>