<div class="container">
    <div class="box">
        <div class="box2">
            <h3>Cadastro efetuado com sucesso!!!</h3>

            <p>Código: <strong>{{this.associacao.codigo}}</strong></p>
            <p>Nome: <strong>{{this.associacao.nome}}</strong></p>
            <p>Sigla: <strong>{{this.associacao.sigla}}</strong></p>
            <p>CNPJ: <strong>{{this.associacao.cnpj}}</strong></p>
            <p>Cidade: <strong>{{this.associacao.enderecoHttp.cidade}}</strong></p>
            <p>UF: <strong>{{this.associacao.enderecoHttp.estado}}</strong></p>
            <p>E-mail: <strong>{{this.associacao.usuarioHttp.email}}</strong></p>

            <div class="box3">
                <button mat-raised-button (click)="goToPage('home')" color="accent" class="botaoFormulario">Página Inicial</button>
                <button mat-raised-button (click)="goToPage('associacao/listar')" color="accent" class="botaoFormulario">Listar Associações</button>
            </div>
        </div>
    </div>
</div>