.container {
  width: 100%;
  min-height: 70vh;
  height: max-content;
  background: #e8eaeb;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 95%;
  min-height: 60vh;
  background: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.box2 {
  width: 95%;
  height: 90%;
  margin: 15px 0 15px 0;
  background: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.box3 {
  width: max-content;
  height: max-content;
  background: #fff;
  flex-direction: row;
  display: flex;
  align-items: center;
//   justify-content: space-between;
}

p {
  color: #795548;
  font-size: 16px;
}

h3 {
  color: #8bc34a;
  font-size: 30px;
  margin: 20px 0 10px;
  font-weight: 400;
}

button {
  background-color: #8bc34a;
  width: 120px;
}

.botaoPaginaInicial {
    margin-left: 10px;
}
