<div class="container">
    <div class="box">
        <div class="box2">
            <h3>Cadastro efetuado com sucesso!!!</h3>

            <p>ID: <strong>{{this.especie.codigo}}</strong></p>
            <p>Nome: <strong>{{this.especie.nome}}</strong></p>
            <p>Nome Científico: <strong>{{this.especie.nomeCientifico}}</strong></p>

            <div class="box3">
                <button mat-raised-button (click)="goToPage('home')" class="botaoPaginaInicial">Página Inicial</button>
                <button mat-raised-button (click)="goToPage('especie/listar')" class="botaoPaginaInicial">Listar Espécies</button>
            </div>
        </div>
    </div>
</div>