.container {
    width: 100%;
    min-height: 70vh;
    max-height: max-content;
    background: #e8eaeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }