$c-primary: #695853;
$c-primary-light: #706662;
// $c-secondary: #8bc34a;
$c-secondary: #1B6942;
$c-secondary-light: #50886c;
$c-background: #ebe9e8;
$c-white: #fff;
$c-red: #f44336;
$c-red-alert: #721c24;
$c-red-alert-light: #f8d7da;
$c-red-alert-border: #f5c6cb;


.c-primary {
  background-color: $c-primary;
}

.c-primary-light {
  background-color: $c-primary-light;
}

.c-secondary {
  background-color: $c-secondary;
}

.c-background {
  background-color: $c-background;
}

.c-white {
  background-color: $c-white;
}

.c-red {
  background-color: $c-red;
}
