.container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .box {
    width: 95%;
    height: 90%;
    background: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  
  .box2 {
    width: 95%;
    height: 90%;
    margin: 15px 0 15px 0;
    background: #fff;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }
  
  .box3 {
    width: 100%;
    height: max-content;
    background: #fff;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .box4 {
      width: 49%;
  }

  .box5 {
    width: 100%;
    height: max-content;
    margin: 15px 0 15px 0;
    background: #fff;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  h1 {
    color: #795548;
    font-size: 36px;
  }
  
  p {
    color: #795548;
    font-size: 16px;
  }
  
  h3 {
    color: #8BC34A;
    font-size: 30px;
    margin: 20px 0 10px;
    font-weight: 400;
  }
  
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 450;
    font-size: 16px;
  }
  
  p {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-divider {
      width: 100%;
  }
  
  section {
    margin-bottom: 5px;
  }
  
  .botaoCadastrar {
    background-color: #8BC34A;
    margin-right: 15px;
  }
  
  form {
    width: 100%;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  