<div class="container c-background">
    <div class="box">
        <div class="box2">
            <h1>Cadastro de Associação</h1>

            <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

                <mat-divider></mat-divider>
                <h3>Dados de identificação</h3>
                <div class="box3">
                    <div class="box4">
                        <label>Nome</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="nomeFormControl" minlength="2" required>
                                <mat-error *ngIf="formCadastro.controls.nomeFormControl.errors?.minlength">Tem que
                                    ter no mínimo 2 caracteres</mat-error>
                                <mat-error *ngIf="formCadastro.controls.nomeFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <label>Sigla</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Sigla</mat-label>
                                <input matInput formControlName="siglaFormControl" minlength="2" required>
                                <mat-error *ngIf="formCadastro.controls.siglaFormControl.errors?.minlength">Tem que
                                    ter no mínimo 2 caracteres</mat-error>
                                <mat-error *ngIf="formCadastro.controls.siglaFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                </div>

                <div class="box3">
                    <div class="box4">
                        <label>CNPJ</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>CNPJ</mat-label>
                                <input matInput placeholder="Ex: 00.000.000/0000-00" formControlName="cnpjFormControl"
                                    maxlength="18" minlength="14" pattern="[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{4}[0-9]{2}"
                                    mask="00.000.000/0000-00" required
                                    (change)="this.consultarCnpj(formCadastro.controls.cnpjFormControl.value)">
                                <mat-hint>Preencher sem pontuação</mat-hint>
                                <mat-error *ngIf="formCadastro.controls.cnpjFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.cnpjFormControl.errors?.minlength">Tem que
                                    ter no mínimo 11 caracteres</mat-error>
                                <mat-error *ngIf="formCadastro.controls.cnpjFormControl.errors?.forbiddenNameValidator">
                                    Este CNPJ já está sendo utilizado</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <label>E-mail</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail</mat-label>
                                <input matInput formControlName="emailUsuarioFormControl" minlength="3" maxlength="100"
                                    required>
                                <mat-error *ngIf="formCadastro.controls.emailUsuarioFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.emailUsuarioFormControl.errors?.email">Este
                                    e-mail não
                                    é válido</mat-error>
                            </mat-form-field>
                        </p>
                    </div>

                </div>

                <mat-divider></mat-divider>
                <h3>Endereço</h3>
                <div class="box3">
                    <div class="box4">
                        <label>Cidade</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Cidade</mat-label>
                                <input matInput formControlName="cidadeFormControl" minlength="2" maxlength="100"
                                    required>
                                <mat-error *ngIf="formCadastro.controls.cidadeFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.cidadeFormControl.errors?.minlength">Tem que
                                    ter no mínimo 2 caracteres</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <label>Selecione o estado do seu clube</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Selecione o estado</mat-label>
                                <mat-select formControlName="ufFormControl" required>
                                    <mat-option value="PR">PR</mat-option>
                                    <mat-option value="SP">SP</mat-option>
                                    <mat-option value="RJ">RJ</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formCadastro.controls.ufFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="box3">
                    <div class="box4">
                        <label>Logradouro</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Logradouro</mat-label>
                                <input matInput formControlName="logradouroFormControl" minlength="2" maxlength="100"
                                    required>
                                <mat-error *ngIf="formCadastro.controls.logradouroFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.logradouroFormControl.errors?.minlength">Tem que
                                    ter no mínimo 9 caracteres</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <label>Número</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Número</mat-label>
                                <input matInput formControlName="numeroFormControl" minlength="1" maxlength="100"
                                    required>
                                <mat-error *ngIf="formCadastro.controls.numeroFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.numeroFormControl.errors?.minlength">Tem que
                                    ter no mínimo 1 caracter</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="box3">
                    <div class="box4">
                        <label>Bairro</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Bairro</mat-label>
                                <input matInput formControlName="bairroFormControl" minlength="2" maxlength="100"
                                    required>
                                <mat-error *ngIf="formCadastro.controls.bairroFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.bairroFormControl.errors?.minlength">Tem que
                                    ter no mínimo  caracteres</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <label>Complemento</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Complemento</mat-label>
                                <input matInput formControlName="complementoFormControl" minlength="1" maxlength="100"
                                    required>
                                <mat-error *ngIf="formCadastro.controls.complementoFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.complementoFormControl.errors?.minlength">Tem que
                                    ter no mínimo 1 caracter</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="box3">
                    <div class="box4">
                        <label>CEP</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>CEP</mat-label>
                                <input matInput formControlName="cepFormControl" minlength="3" maxlength="100"
                                    required>
                                <mat-error *ngIf="formCadastro.controls.cepFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                                <mat-error *ngIf="formCadastro.controls.cepFormControl.errors?.minlength">Tem que
                                    ter no mínimo 9 caracteres</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">                        
                    </div>
                </div>

                <mat-divider></mat-divider>
                <h3 *ngIf="formCadastro.controls.idFormControl.value === null" >Senhas</h3>
                <div *ngIf="formCadastro.controls.idFormControl.value === null"  class="box3">
                    <div class="box4">
                        <label>Senha</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'"
                                    formControlName="senhaUsuarioFormControl" required>
                                <mat-error></mat-error>
                                <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="formCadastro.controls.senhaUsuarioFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <div class="box3">
                            <label>Confirmar senha</label>
                        </div>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Confirnar senha</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'"
                                    formControlName="confirmarSenhaUsuarioFormControl" required>
                                <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error
                                    *ngIf="formCadastro.controls.confirmarSenhaUsuarioFormControl.errors?.required">
                                    Campo
                                    obrigatório</mat-error>
                                <mat-error
                                    *ngIf="formCadastro.controls.confirmarSenhaUsuarioFormControl.errors?.identityRevealed">
                                    As senhas informadas devem ser iguais</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="box5">
                    <button mat-raised-button color="accent" class="botaoFormulario" type="submit"
                        [disabled]="formCadastro.invalid">Concluir
                        cadastro</button>
                    <button mat-raised-button color="accent" class="botaoFormulario"
                        (click)="goToPage('associacao/listar')">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>