@import '../../_shared/styles/colors';

.container {
  width: 100%;
  min-height: 75vh;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $c-white;
}

.box {
  width: 95%;
  height: 90%;
  min-height: 70vh;
  background: $c-white;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.box2 {
  width: 95%;
  height: 90%;
  background: $c-white;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-top: 15px;
  // justify-content: space-between;
}

.box3 {
  width: 95%;
  height: 90%;
  background: $c-white;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 30px;
}

.box4 {
  width: 35%;
  height: 90%;
  background: $c-white;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  justify-content: space-between;
  align-self: flex-start;
}

h1 {
  color: $c-primary;
  font-size: 36px;
  align-self: flex-start;
}

table {
  width: 90%;
  margin: 0 auto;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8 {
  width: 95%;
  margin-bottom: 25px;
}

td,
th {
  width: 25%;
}

th.mat-header-cell {
  &:nth-child(n + 6) {
    text-align: center;
  }
}

mat-icon {
  color: $c-secondary;
}

p {
  width: max-content;
  padding: 10px;
  margin: 0;
}

mat-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $c-white;
  color: $c-primary;
  border-color: $c-white-alert-border;
  border-color: $c-primary-light;

  div {
    background: $c-white;
  }
}
mat-card:hover {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $c-primary-light-card;
  color: $c-primary;
  border-color: $c-white-alert-border;
  border-color: $c-primary-light;

  div {
    background: $c-primary-light-card;
  }
}

.mat-action-row {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-content {
  width: 100%;
}

.div-content-expansion-panel-header {
  width: 97%;
  margin: 0 10px;
  display: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.subdiv-button {
  min-width: max-content;
  width: 17%;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  display: flex;
}

.buttonAceitar {
  background: $c-blue-alert;
  color: $c-white;
}
.buttonCancelar {
  background: $c-red-alert;
  color: $c-white;
}


