<div class="container c-background">
    <div class="box">
        <div class="box2">
            <h1>Cadastro de Aves</h1>

            <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

                <div class="box3">
                    <div class="box4">
                        <label>Sexo</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Sexo</mat-label>
                                <!-- <input matInput formControlName="especieFormControl" minlength="2" required> -->
                                <mat-select formControlName="sexoFormControl">
                                    <mat-option value="MACHO">MACHO</mat-option>
                                    <mat-option value="FÊMEA">FÊMEA</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formCadastro.controls.especieFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">                         
                    </div>
                </div>
                <div class="box3">
                    <div class="box4">
                        <label>Nome</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="nomeFormControl" minlength="2" required>
                                <mat-error *ngIf="formCadastro.controls.nomeFormControl.errors?.minlength">Tem que
                                    ter no mínimo 2 caracteres</mat-error>
                                <mat-error *ngIf="formCadastro.controls.nomeFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <label>Espécie</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Espécie</mat-label>
                                <!-- <input matInput formControlName="especieFormControl" minlength="2" required> -->
                                <mat-select formControlName="especieFormControl">
                                    <mat-option *ngFor="let especies of especies" [value]="especies">{{especies.nome}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formCadastro.controls.especieFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="box3">
                    <div class="box4">
                        <label>Modelo da Anilha</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Selecione o modelo da anilha</mat-label>
                                <mat-select [formControl]="modeloControl">
                                    <mat-option *ngFor="let modelo of modelos" [value]="modelo">{{modelo.modelo}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="box4">
                        <label>Nº da Anilha</label>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Nº da Anilha</mat-label>
                                <input matInput formControlName="numeroAnilhaFormControl" minlength="2" required [value]="modeloControl.value?.descricao">
                                <mat-error *ngIf="formCadastro.controls.numeroAnilhaFormControl.errors?.minlength">Tem
                                    que
                                    ter no mínimo 2 caracteres</mat-error>
                                <mat-error *ngIf="formCadastro.controls.numeroAnilhaFormControl.errors?.required">Campo
                                    obrigatório</mat-error>
                            </mat-form-field>
                        </p>
                    </div>                    
                </div>

                <mat-divider></mat-divider>

                <div class="box5">
                    <button mat-raised-button color="accent" class="botaoFormulario" type="submit"
                        [disabled]="formCadastro.invalid">Concluir
                        cadastro</button>
                    <button mat-raised-button color="accent" class="botaoFormulario" (click)="goToPage('ave/listar')">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
