@import "../../_shared/styles/colors";
.container {
  width: 100%;
  height: max-content;
  background: $c-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}

.logopardal {
  height: 66px;
  padding: 5px;
}

.logoescrita {
  width: 241px;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.div-container {
  width: 100%;
}

p {
  margin: 0 auto;
  width: 100%;
}

mat-toolbar {
  height: max-content;
  height: 13vh;
  background-color: $c-white;
  // background-color: #AED581;
}

mat-toolbar div {
  padding-left: 15px;
}

.nav-toolbar {
  padding: 15px;
  font-size: 16px;
  height: 13vh;
  background-color: $c-white;
  color: $c-primary;
  width: max-content;
  &:hover {
    border-bottom: 20px;
    background-color: $c-primary;
    color: $c-white;
    height: 14vh;
  }
}

img:hover {
  cursor: pointer;
}
