<div class="container">
  <div class="box">
    <p>
      <mat-toolbar color="primary">
        <div class="div-container">
          <button mat-button (click)="goToPage('ave/listar')">Minhas Aves</button>
          <button mat-button [matMenuTriggerFor]="menu">Transferências</button>
          <mat-menu #menu="matMenu">
            <button class="nav-toolbar-menu" mat-menu-item (click)="abrirListadeTransferencias()">
              <mat-icon> call_received</mat-icon> Aceitar transferências
            </button>
            <button class="nav-toolbar-menu" mat-menu-item (click)="goToPage('ave/listar-transferencias-realizadas')">
              <mat-icon> call_made</mat-icon> Aves transferidas pendentes
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </p>
  </div>
  <div class="box2" *ngIf="this.statusVermelho === false">
    <mat-card>
      <p>
        <strong>Atenção! </strong>Você possui pendências com a sua associação. Regularize-as para poder se insecrever
        nos torneios.
      </p>
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Ícone de lápis" (click)="close('statusVermelho')">close</mat-icon>
      </button>
    </mat-card>
  </div>
  <div class="box2" *ngIf="this.statusAzul">
    <mat-card class="azul">
      <p>
        Você possui aves para aceitar a transferência!!!
      </p>
      <div>
        <button mat-button (click)="abrirListadeTransferencias()">
          Ver
        </button>
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Ícone de lápis" (click)="close('statusAzul')">close</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>