@import "../../_shared/styles/colors";

.container {
  width: 100%;
  min-height: 75vh;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $c-white;
}

.box {
  width: 95%;
  height: 90%;
  min-height: 70vh;
  background: $c-white;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.box2 {
  width: 95%;
  height: 90%;
  background: $c-white;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.box3 {
  width: 95%;
  height: 90%;
  background: $c-white;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.box4 {
  width: 100%;
  height: max-content;
  // background: #fff;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box5 {
    width: 49%;    
}
.box5Buttons {
    background: transparent;
    width: 49%;    
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

h1 {
  color: $c-primary;
  font-size: 36px;
  align-self: flex-start;
}

table {
  width: 90%;
  margin: 0 auto;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8 {
  width: 95%;
  margin-bottom: 25px;
}

td,
th {
  width: 25%;
  padding: 0;
}

th.mat-header-cell {
  &:nth-child(n + 6) {
    text-align: center;
  }
}

mat-icon {
  color: $c-secondary;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0%;
}
