<div class="container">
  <div class="box">
    <h3>Meus dados</h3>
  </div>
<hr>
  <div class="box">
    <div class="box2">
      <p>Código: <strong>{{data.codigo}}</strong></p>
      <p>Nome: <strong>{{data.sigla}} - {{data.nome}}</strong></p>
      <p>CNPJ: <strong>{{data.cnpj}}</strong></p>
      <p>Cidade: <strong>{{data.enderecoHttp.cidade}}</strong></p>
      <p>CEP: <strong>{{data.enderecoHttp.cep}}</strong></p>
      <p>UF: <strong>{{data.enderecoHttp.estado}}</strong></p>
      <p>Rua: <strong>{{data.enderecoHttp.logradouro}}</strong></p>
      <p>Nº: <strong>{{data.enderecoHttp.numero}}</strong></p>
      <p>Bairro: <strong>{{data.enderecoHttp.bairro}}</strong></p>
      <p>Complemento: <strong>{{data.enderecoHttp.complemento}}</strong></p>

    </div>
  </div>
  <hr>
  <div class="box">
    <div class="box2">
      <button mat-raised-button color="accent" (click)="goToPage('associacao/cadastrar')">Editar</button>
    </div>
  </div>
</div>
