<div class="container">
  <div class="box">
    <div class="box3">
      <h1>Transferir aves</h1>
    </div>
    <div class="box2">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [editable]="true">
          <ng-template matStepLabel>Dados da ave</ng-template>
          <p>
            Nome:
            <strong>{{
              this.ave?.nome || 'Selecionar ave na listagem'
            }}</strong>
          </p>
          <p>
            Espécie:
            <strong>{{
              this.ave?.especie?.nome || 'Selecionar ave na listagem'
            }}</strong>
          </p>
          <p>
            Nº da Anilha:
            <strong>{{
              this.ave.numeroAnilha || 'Selecionar ave na listagem'
            }}</strong>
          </p>
          <p>
            Medida da Anilha:
            <strong>{{
              this.ave.medidaAnilha || 'Selecionar ave na listagem'
            }}</strong>
          </p>
          <div>
            <button
              [disabled]="!this.ave?.nome"
              color="accent"
              mat-raised-button
              matStepperNext
            >
              Próximo
            </button>
          </div>
        </mat-step>

        <mat-step [editable]="true">
          <form (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>Escolha o Criador</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>ID</mat-label>
              <input
                matInput
                [formControl]="idCriadorFormControl"
                required
                min="1"
              />
              <mat-error *ngIf="idCriadorFormControl.errors?.required"
                >Campo obrigatório</mat-error
              >
              <mat-error *ngIf="idCriadorFormControl.errors?.min"
                >ID deve ser maior que
                {{ idCriadorFormControl.errors.min.min }}</mat-error
              >
            </mat-form-field>
            <button
              color="accent"
              type="submit"
              mat-raised-button
              [disabled]="idCriadorFormControl.errors"
            >
              Buscar
            </button>
            <h2 class="message__error" *ngIf="httpError">
              {{ httpError.error.Mensagem }}
            </h2>
          </form>
          <div>
            <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>

            <h2 *ngIf="criador">
              Criador encontrado:
              <span class="criador__nome"
                >{{ criador.nome }} {{ criador.sobrenome }}</span
              >
            </h2>
          </div>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button
              color="accent"
              mat-raised-button
              matStepperNext
              [disabled]="!criador"
            >
              Próximo
            </button>
          </div>
        </mat-step>

        <!-- <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step> -->
      </mat-horizontal-stepper>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
