@import '../../_shared/styles/colors';

.container {
  width: 100%;
  min-height: 75vh;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $c-white;
}

.box {
  width: 95%;
  height: 90%;
  min-height: max-content;
  background: $c-white;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.box2 {
  width: 95%;
  height: 90%;
  background: $c-white;
  flex-direction: row;
  display: flex;
  margin-top: 15px;
}

.box3 {
  width: 95%;
  height: 90%;
  background: $c-white;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

h1 {
  color: $c-primary;
  font-size: 36px;
  align-self: flex-start;
}

h3 {
  color: #8bc34a;
  font-size: 30px;
  margin: 20px 0 10px;
  font-weight: 400;
}

p {
  color: #795548;
  font-size: 16px;
}

.criador__nome {
  color: $c-secondary;
}

.criador__nome--nao-encontrado {
  color: $c-red;
}

.message__error {
  color: $c-red;
}

.mat-stepper-horizontal {
  width: 100%;
}
